Repository DNDACADEMY/dnd-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, type-check

lint:
  run: yarn lint

format:
  run: yarn format

type-check:
  run: yarn check-types

fix: CI 환경에서 lefthook 없을 때 postinstall 스크립트 실패 방지
  package.json
Due: format

fix(desktop): Txt 컴포넌트 타이포그래피 line-height 수정 (#19)
  package.json
  packages/dds-desktop/src/primitives/txt/styles.css.ts
Due: lint, format, type-check

feat(desktop): Chip 컴포넌트 및 Storybook 추가
  packages/dds-desktop/src/primitives/chip/Chip.stories.tsx
  packages/dds-desktop/src/primitives/chip/Chip.tsx
  packages/dds-desktop/src/primitives/chip/compound/Icon.tsx
  packages/dds-desktop/src/primitives/chip/compound/index.tsx
  packages/dds-desktop/src/primitives/chip/context.tsx
  packages/dds-desktop/src/primitives/chip/index.tsx
  packages/dds-desktop/src/primitives/chip/style.css.ts
  packages/dds-desktop/src/primitives/chip/type.ts
  packages/dds-desktop/src/primitives/index.tsx
Due: lint, format, type-check

feat(desktop): Chip 컴포넌트 및 Storybook 추가 (#20)
  packages/dds-desktop/src/primitives/chip/Chip.stories.tsx
  packages/dds-desktop/src/primitives/chip/Chip.tsx
  packages/dds-desktop/src/primitives/chip/compound/Icon.tsx
  packages/dds-desktop/src/primitives/chip/compound/index.tsx
  packages/dds-desktop/src/primitives/chip/context.tsx
  packages/dds-desktop/src/primitives/chip/index.tsx
  packages/dds-desktop/src/primitives/chip/style.css.ts
  packages/dds-desktop/src/primitives/chip/type.ts
  packages/dds-desktop/src/primitives/index.tsx
Due: lint, format, type-check

docs: args를 추가하여, code가 올바르게 나오도록 수정해요.
  packages/dds-desktop/src/primitives/chip/Chip.stories.tsx
  packages/dds-desktop/src/primitives/txt/Txt.stories.tsx
Due: lint, format, type-check

refactor: 불필요한 export 컴포넌트 제거
  packages/dds-desktop/src/primitives/fieldbox/Fieldbox.tsx
  packages/dds-desktop/src/primitives/inputarea/Inputarea.tsx
Due: lint, format, type-check

docs: storybook 예제 수정
  packages/dds-desktop/src/primitives/inputarea/Inputarea.stories.tsx
  packages/dds-desktop/src/primitives/inputfield/Inputfield.stories.tsx
Due: lint, format, type-check

fix: 누락된 props export 추가
  packages/dds-desktop/src/primitives/inputarea/compound/index.tsx
  packages/dds-desktop/src/primitives/inputarea/index.tsx
  packages/dds-desktop/src/primitives/inputfield/index.tsx
Due: lint, format, type-check

fix(desktop): Compound 컴포넌트 displayName 설정
  packages/dds-desktop/src/primitives/chip/compound/Icon.tsx
  packages/dds-desktop/src/primitives/fieldbox/Fieldbox.tsx
  packages/dds-desktop/src/primitives/fieldbox/compound/BottomTxt.tsx
  packages/dds-desktop/src/primitives/fieldbox/compound/Label.tsx
  packages/dds-desktop/src/primitives/inputarea/compound/Icon.tsx
  packages/dds-desktop/src/primitives/inputfield/compound/Icon.tsx
Due: lint, format, type-check

fix(desktop): Storybook 코드 생성 개선 및 displayName 설정 (#21)
  packages/dds-desktop/src/primitives/chip/Chip.stories.tsx
  packages/dds-desktop/src/primitives/chip/compound/Icon.tsx
  packages/dds-desktop/src/primitives/fieldbox/Fieldbox.tsx
  packages/dds-desktop/src/primitives/fieldbox/compound/BottomTxt.tsx
  packages/dds-desktop/src/primitives/fieldbox/compound/Label.tsx
  packages/dds-desktop/src/primitives/inputarea/Inputarea.stories.tsx
  packages/dds-desktop/src/primitives/inputarea/Inputarea.tsx
  packages/dds-desktop/src/primitives/inputarea/compound/Icon.tsx
  packages/dds-desktop/src/primitives/inputarea/compound/index.tsx
  packages/dds-desktop/src/primitives/inputarea/index.tsx
  packages/dds-desktop/src/primitives/inputfield/Inputfield.stories.tsx
  packages/dds-desktop/src/primitives/inputfield/compound/Icon.tsx
  packages/dds-desktop/src/primitives/inputfield/index.tsx
  packages/dds-desktop/src/primitives/txt/Txt.stories.tsx
Due: lint, format, type-check

docs: PR 명령어에 템플릿 준수 규칙 강제
  .claude/commands/pr-draft.md
  .claude/commands/pr.md
Due: format

docs: PR 명령어에 템플릿 준수 규칙 강제 (#22)
  .claude/commands/pr-draft.md
  .claude/commands/pr.md
Due: format

feat: button 컴포넌트를 추가해요.
  packages/dds-desktop/src/primitives/button/Button.tsx
  packages/dds-desktop/src/primitives/button/compound/Icon.tsx
  packages/dds-desktop/src/primitives/button/compound/index.tsx
  packages/dds-desktop/src/primitives/button/index.tsx
  packages/dds-desktop/src/primitives/button/style.css.ts
  packages/dds-desktop/src/primitives/button/type.ts
Due: lint, format, type-check

feat(desktop): Button 컴포넌트 Storybook 및 구조 개선
  packages/dds-desktop/src/primitives/button/Button.stories.tsx
  packages/dds-desktop/src/primitives/button/Button.tsx
  packages/dds-desktop/src/primitives/button/compound/Icon.tsx
  packages/dds-desktop/src/primitives/button/context.tsx
  packages/dds-desktop/src/primitives/button/style.css.ts
Due: lint, format, type-check

docs: show code 올바르게 나오도록 수정
  packages/dds-desktop/src/primitives/button/Button.stories.tsx
Due: lint, format, type-check

feat(desktop): Button 컴포넌트 추가 (#23)
  packages/dds-desktop/src/primitives/button/Button.stories.tsx
  packages/dds-desktop/src/primitives/button/Button.tsx
  packages/dds-desktop/src/primitives/button/compound/Icon.tsx
  packages/dds-desktop/src/primitives/button/compound/index.tsx
  packages/dds-desktop/src/primitives/button/context.tsx
  packages/dds-desktop/src/primitives/button/index.tsx
  packages/dds-desktop/src/primitives/button/style.css.ts
  packages/dds-desktop/src/primitives/button/type.ts
Due: lint, format, type-check

chore: form project init
  .yarn/install-state.gz
  services/form/.gitignore
  services/form/@types/svg.d.ts
  services/form/README.md
  services/form/eslint.config.js
  services/form/index.html
  services/form/package.json
  services/form/public/vite.svg
  services/form/src/App.css
  services/form/src/App.tsx
  services/form/src/assets/react.svg
  services/form/src/index.css
  services/form/src/main.tsx
  services/form/tsconfig.json
  services/form/vite.config.ts
  yarn.lock
Due: lint, format, type-check

chore: pr-check workflow 추가
  .github/workflows/pr-check.yml
Due: none

chore: pr-check workflow 추가 (#26)
  .github/workflows/pr-check.yml
Due: none

fix(passboard): vitest 타입 정의 추가
  services/passboard/tsconfig.json
  services/passboard/vitest.config.ts
Due: lint, format, type-check

chore: type check전 package build 추가
  .github/workflows/pr-check.yml
Due: none

fix(passboard): next.config.ts remotePatterns 설정 수정
  services/passboard/next.config.ts
Due: lint, format, type-check

fix(passboard): ORIGIN_URL undefined 빌드 에러 수정
  services/passboard/src/shared/constants/defaultMetadata.ts
Due: lint, format, type-check

fix(passboard): BASE_URL undefined 빌드 에러 수정
  services/passboard/src/shared/constants/index.ts
Due: lint, format, type-check

fix(ci): 서비스 빌드 검사 제외, 패키지만 검사
  .github/workflows/pr-check.yml
Due: none

fix(ci): 타입 체크 전에 패키지 빌드 추가
  .github/workflows/pr-check.yml
Due: none

chore: packages only 검사 추가
  .github/workflows/pr-check.yml
Due: none

fix(ci): PR 체크 워크플로를 패키지 전용으로 수정 (#29)
  .github/workflows/pr-check.yml
Due: none

refactor: 경로 절대경로로 변경
  packages/dds-desktop/src/primitives/txt/styles.css.ts
Due: lint, format, type-check

chore: vite plugin 추가
  packages/dds-desktop/vite.config.ts
Due: lint, format, type-check

chore: export 경로 수정
  packages/dds-desktop/package.json
Due: format

feat: 누락된 버튼 경로 추가
  packages/dds-desktop/src/primitives/index.tsx
Due: lint, format, type-check

docs: README를 수정해요.
  packages/dds-desktop/README.md
Due: format

chore(desktop): Vite plugins 설정 및 컴포넌트 경로 수정. (#30)
  packages/dds-desktop/README.md
  packages/dds-desktop/package.json
  packages/dds-desktop/src/primitives/index.tsx
  packages/dds-desktop/src/primitives/txt/styles.css.ts
  packages/dds-desktop/vite.config.ts
Due: lint, format, type-check

chore(desktop): Vite 설정 통합 및 버전 고정
  .yarn/install-state.gz
  package.json
  packages/dds-desktop/.storybook/main.ts
  packages/dds-desktop/package.json
  packages/dds-desktop/vite.config.ts
  packages/dds-desktop/vitest.config.ts
  services/passboard/next.config.ts
  services/passboard/package.json
  services/passboard/vitest.config.ts
  yarn.lock
Due: lint, format, type-check

chore(desktop): Vite 설정 통합 및 버전 고정 (#31)
  .yarn/install-state.gz
  package.json
  packages/dds-desktop/.storybook/main.ts
  packages/dds-desktop/package.json
  packages/dds-desktop/vite.config.ts
  packages/dds-desktop/vitest.config.ts
  services/passboard/next.config.ts
  services/passboard/package.json
  services/passboard/vitest.config.ts
  yarn.lock
Due: lint, format, type-check

chore: form project init (#24)
  .yarn/install-state.gz
  services/form/.gitignore
  services/form/@types/svg.d.ts
  services/form/README.md
  services/form/eslint.config.js
  services/form/index.html
  services/form/package.json
  services/form/public/vite.svg
  services/form/src/App.css
  services/form/src/App.tsx
  services/form/src/assets/react.svg
  services/form/src/index.css
  services/form/src/main.tsx
  services/form/tsconfig.json
  services/form/vite.config.ts
  yarn.lock
Due: lint, format, type-check

feat(form): React Router 기반 라우팅 시스템 구축
  .yarn/install-state.gz
  services/form/package.json
  services/form/src/App.css
  services/form/src/App.tsx
  services/form/src/Router.tsx
  services/form/src/assets/react.svg
  services/form/src/index.css
  services/form/src/main.tsx
  services/form/src/pages/FormPage.tsx
  services/form/src/pages/NotFoundPage.tsx
  yarn.lock
Due: lint, format, type-check

feat(form): React Router 기반 라우팅 시스템 구축 (#32)
  .yarn/install-state.gz
  services/form/package.json
  services/form/src/App.css
  services/form/src/App.tsx
  services/form/src/Router.tsx
  services/form/src/assets/react.svg
  services/form/src/index.css
  services/form/src/main.tsx
  services/form/src/pages/FormPage.tsx
  services/form/src/pages/NotFoundPage.tsx
  yarn.lock
Due: lint, format, type-check

Path conditions:
  lint: any of: *.{js,ts,tsx,jsx}
  format: any of: *.{js,ts,tsx,jsx,json,md}
  type-check: any of: *.{ts,tsx}
