Repository DNDACADEMY/dnd-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, type-check

lint:
  run: yarn lint

format:
  run: yarn format

type-check:
  run: yarn check-types

fix(passboard): MSW 핸들러 엔드포인트 경로 수정
  services/passboard/src/mocks/handlers/index.ts
  services/passboard/src/mocks/handlers/passboard.ts
Due: lint, format, type-check

feat(passboard): GTM 이벤트 추가 및 ResetButton 인라인화
  services/passboard/src/remotes/index.ts
  services/passboard/src/views/passboard/components/eventResultPanel/ResetButton.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/index.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/style.css.ts
Due: lint, format, type-check

chore(passboard): MSW 관련 패키지 설치
  .pnp.cjs
  .yarn/install-state.gz
  services/passboard/package.json
  yarn.lock
Due: format

fix(passboard): 결과 조회 UI 애니메이션 및 버그 수정
  services/passboard/src/views/passboard/components/eventResultPanel/EventResultForm.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/ResultTitle.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/index.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/style.css.ts
Due: lint, format, type-check

refactor(passboard): Txt 컴포넌트로 타이포그래피 교체
  services/passboard/src/views/error/components/ErrorCard/ErrorCard.tsx
  services/passboard/src/views/error/components/ErrorCard/style.css.ts
  services/passboard/src/views/passboard/components/beforeEventCard/index.tsx
  services/passboard/src/views/passboard/components/beforeEventCard/style.css.ts
  services/passboard/src/views/passboard/components/eventResultPanel/ResultCard.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/ResultTitle.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/style.css.ts
Due: lint, format, type-check

fix(passboard): Txt color prop 및 lineHeight className 적용
  services/passboard/src/views/error/components/ErrorCard/ErrorCard.tsx
  services/passboard/src/views/error/components/ErrorCard/style.css.ts
  services/passboard/src/views/passboard/components/beforeEventCard/index.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/ResultCard.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/ResultTitle.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/style.css.ts
Due: lint, format, type-check

refactor(passboard): Alert, TextButton 컴포넌트 Txt 적용
  services/passboard/src/components/Alert/Alert.tsx
  services/passboard/src/components/Alert/styles.css.ts
  services/passboard/src/components/ErrorBoundary.tsx
  services/passboard/src/components/If.tsx
  services/passboard/src/components/SwichCase.tsx
  services/passboard/src/components/TextButton/TextButton.tsx
  services/passboard/src/components/TextButton/style.css.ts
Due: lint, format, type-check

fix(passboard): Txt as='button' 대신 button 내부 Txt 래핑으로 변경
  services/passboard/src/components/Alert/styles.css.ts
Due: lint, format, type-check

refactor(passboard): ResultCard description JSX를 문자열 \n으로 단순화
  services/passboard/src/views/passboard/components/eventResultPanel/ResultCard.tsx
Due: lint, format, type-check

refactor(passboard): beforeEventCardContent를 Map으로 이름 변경 및 하단 이동
  services/passboard/src/views/passboard/components/beforeEventCard/index.tsx
Due: lint, format, type-check

refactor(passboard): TextButton을 button을 루트로 구조 변경
  services/passboard/src/components/TextButton/TextButton.tsx
Due: lint, format, type-check

test: mock random 수정
  services/passboard/src/mocks/handlers/passboard.ts
Due: lint, format, type-check

refactor: word-break keep-all을 이용하여 글자단위로 조정되도록 수정
  services/passboard/src/views/passboard/components/eventResultPanel/style.css.ts
Due: lint, format, type-check

fix(passboard): 코드 품질 개선
  services/passboard/src/components/Alert/Alert.tsx
  services/passboard/src/components/TextButton/TextButton.tsx
  services/passboard/src/mocks/handlers/passboard.ts
Due: lint, format, type-check

chore(passboard): 중복 Pretendard 폰트 설정 제거
  services/passboard/src/app/layout.tsx
  services/passboard/src/styles/globals.css.ts
  services/passboard/src/styles/theme.css.ts
Due: lint, format, type-check

fix: font 정적 파일 제거
  services/passboard/public/assets/fonts/Pretendard-Bold.subset.woff2
  services/passboard/public/assets/fonts/Pretendard-Medium.subset.woff2
  services/passboard/public/assets/fonts/Pretendard-Regular.subset.woff2
Due: none

fix(passboard): 빌드 시 prerender 비활성화
  services/passboard/src/app/page.tsx
Due: lint, format, type-check

perf(passboard): 이벤트 데이터 10분 캐싱 적용
  services/passboard/src/app/page.tsx
Due: lint, format, type-check

fix(passboard): 동일 입력으로 중복 API 호출 방지
  services/passboard/src/views/passboard/components/eventResultPanel/EventResultForm.tsx
Due: lint, format, type-check

docs(passboard): README 및 CLAUDE.md 업데이트
  services/passboard/CLAUDE.md
  services/passboard/README.md
Due: format

style: format
  services/passboard/README.md
Due: format

refactor: revalidate를 지원하는 checkEvent ISR 방식으로 수정
  services/passboard/src/app/page.tsx
  services/passboard/src/remotes/index.ts
Due: lint, format, type-check

feat: On-demand 방식으로 캐시 무효화 가능하도록 설정 추가
  services/passboard/src/app/api/webhook/revalidate/webhook/revalidate/route.ts
  services/passboard/src/remotes/index.ts
Due: lint, format, type-check

chore: mock server를 위한 express 설정 제거
  .pnp.cjs
  .yarn/install-state.gz
  services/passboard/package.json
  services/passboard/src/mocks/server.ts
  yarn.lock
Due: lint, format, type-check

fix: 서버가 없을 경우 fallback data를 내려받도록 수정
  services/passboard/src/remotes/index.ts
Due: lint, format, type-check

ㄹ에서 Username 가져올 수 있도록 수정
  services/passboard/src/views/passboard/components/eventResultPanel/EventResultForm.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/ResultCard.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/index.tsx
Due: lint, format, type-check

refactor: ErrorPage에서 errorMessage prop 제거 및 에러 처리 개선
  services/passboard/src/app/not-found.tsx
  services/passboard/src/app/page.tsx
  services/passboard/src/remotes/index.ts
  services/passboard/src/views/error/index.tsx
  services/passboard/src/views/passboard/components/beforeEventCard/index.tsx
  services/passboard/src/views/passboard/index.tsx
Due: lint, format, type-check

fix: response 타입 date -> string | date로 수정
  services/passboard/src/app/page.tsx
  services/passboard/src/remotes/index.ts
Due: lint, format, type-check

feat: font 정적파일 추가
  services/passboard/public/assets/fonts/Pretendard-Bold.subset.woff2
  services/passboard/public/assets/fonts/Pretendard-Medium.subset.woff2
  services/passboard/public/assets/fonts/Pretendard-Regular.subset.woff2
Due: none

fix: error가 필요한 상황에서만 throw 되도록 수정해요.
  services/passboard/src/app/error.tsx
  services/passboard/src/app/not-found.tsx
  services/passboard/src/app/page.tsx
  services/passboard/src/views/error/index.tsx
Due: lint, format, type-check

fix: use client 누락 수정
  services/passboard/src/views/error/index.tsx
Due: lint, format, type-check

refactor: null 체크 이후 검사로직 진행되도록 수정
  services/passboard/src/app/page.tsx
  services/passboard/src/remotes/index.ts
Due: lint, format, type-check

chore: @dds/*, @dnd-frontend/* 패키지 의존성을 @dnd-lab/*으로 마이그레이션
  .pnp.cjs
  .yarn/install-state.gz
  services/admin-web/eslint.config.js
  services/admin-web/package.json
  services/admin-web/tsconfig.json
  services/passboard/eslint.config.js
  services/passboard/package.json
  services/passboard/tsconfig.json
  tools/eslint-config/README.md
  tools/eslint-config/base.js
  tools/eslint-config/next.js
  tools/eslint-config/package.json
  tools/eslint-config/react-internal.js
  tools/typescript-config/base.json
  tools/typescript-config/nextjs.json
  tools/typescript-config/package.json
  tools/typescript-config/react-library.json
  yarn.lock
Due: lint, format

refactor(passboard): @dds/desktop import를 @dnd-lab/desktop으로 변경
  services/passboard/src/app/layout.tsx
  services/passboard/src/components/Alert/Alert.tsx
  services/passboard/src/components/TextButton/TextButton.tsx
  services/passboard/src/views/error/components/ErrorCard/ErrorCard.tsx
  services/passboard/src/views/passboard/components/beforeEventCard/index.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/EventResultForm.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/ResultCard.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/ResultTitle.tsx
Due: lint, format, type-check

docs: 문서 및 CI 설정의 패키지 참조를 @dnd-lab/*으로 업데이트
  .claude/commands/commit.md
  .claude/commands/pr.md
  .github/workflows/storybook-test.yml
  CLAUDE.md
  services/admin-web/CLAUDE.md
  services/passboard/README.md
Due: format

chore: packages 관련 설정 제거 및 서비스 CI 워크플로우 전환
  .claude/commands/commit.md
  .claude/commands/pr.md
  .github/workflows/delete-merged-branch.yml
  .github/workflows/pr-check.yml
  .github/workflows/storybook.yml
  .yarn/install-state.gz
  package.json
Due: format

fix: origin url env 제거
  services/passboard/.env.sample
  services/passboard/src/constants/defaultMetadata.ts
Due: lint, format, type-check

Path conditions:
  lint: any of: *.{js,ts,tsx,jsx}
  format: any of: *.{js,ts,tsx,jsx,json,md}
  type-check: any of: *.{ts,tsx}
