Repository DNDACADEMY/dnd-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, type-check

lint:
  run: yarn lint

format:
  run: yarn format

type-check:
  run: yarn check-types

feat(desktop): TextField BottomText aria-describedby 접근성 연결 (#66)
  packages/dds-desktop/src/primitives/textfield/Textfield.tsx
  packages/dds-desktop/src/primitives/textfield/compound/BottomText.tsx
  packages/dds-desktop/src/primitives/textfield/compound/index.tsx
  packages/dds-desktop/src/primitives/textfield/index.tsx
Due: lint, format, type-check

chore: pr-review workflow 수정.
  .claude/hooks/pr-review.js
Due: lint, format

fix: pr-review 코멘트 등록 방식을 gh api로 교체
  .claude/hooks/pr-review.js
Due: lint, format

chore: pr-review 디버그 로그 임시 추가
  .claude/hooks/pr-review.js
Due: lint, format

chore: pr-review 파일 디버그 로그로 교체
  .claude/hooks/pr-review.js
Due: lint, format

refactor: 코드 로직 리팩토링
  .claude/hooks/pr-review.js
Due: lint, format

chore: pr-review 디버그 로그 재추가 (원인 파악용)
  .claude/hooks/pr-review.js
Due: lint, format

fix: tool_response.stdout으로 PR URL 추출 경로 수정
  .claude/hooks/pr-review.js
Due: lint, format

fix: pr-review 리뷰 이슈 반영 (에러 처리 및 finish 누락 수정)
  .claude/hooks/pr-review.js
Due: lint, format

chore: pr-review 완료 메시지 표 형식으로 개선
  .claude/hooks/pr-review.js
Due: lint, format

feat: pr-review 완료 후 수정 반영 여부 Claude에게 질문
  .claude/hooks/pr-review.js
Due: lint, format

feat: pr-review 요약 메시지를 이슈 주제 목록 형식으로 변경
  .claude/hooks/pr-review.js
Due: lint, format

fix: pr-review 리뷰 이슈 반영 (spawnSync 에러 처리, 빈 파싱 가드, 파일 저장 순서)
  .claude/commands/pr-with-review.md
  .claude/hooks/pr-review.js
Due: lint, format

chore: 효과 없는 console.log 제거
  .claude/hooks/pr-review.js
Due: lint, format

fix: pr-with-review 커맨드에 pending 파일 명시적 확인 단계 추가
  .claude/commands/pr-with-review.md
Due: format

feat: pr-review 요약을 Priority/Category/Issue Details 테이블로 변경
  .claude/hooks/pr-review.js
Due: lint, format

chore: 리뷰 요약에서 총 n개 이슈 제거
  .claude/hooks/pr-review.js
Due: lint, format

chore: 미사용 total 변수 제거
  .claude/hooks/pr-review.js
Due: lint, format

feat: pr-review 훅 안정화 및 UX 개선 (#73)
  .claude/commands/pr-with-review.md
  .claude/hooks/pr-review.js
Due: lint, format

fix: Space 컴포넌트에서 forwardRefWithAs 제거 및 div 고정
  packages/dds-desktop/src/primitives/space/Space.tsx
Due: lint, format, type-check

chore: Space 컴포넌트 제거
  packages/dds-desktop/src/primitives/index.tsx
  packages/dds-desktop/src/primitives/sidebar/Sidebar.stories.tsx
  packages/dds-desktop/src/primitives/space/Space.stories.tsx
  packages/dds-desktop/src/primitives/space/Space.tsx
  packages/dds-desktop/src/primitives/space/index.tsx
  packages/dds-desktop/src/primitives/space/types.ts
Due: lint, format, type-check

fix(desktop): Space 컴포넌트 제거 (#74)
  packages/dds-desktop/src/primitives/index.tsx
  packages/dds-desktop/src/primitives/sidebar/Sidebar.stories.tsx
  packages/dds-desktop/src/primitives/space/Space.stories.tsx
  packages/dds-desktop/src/primitives/space/Space.tsx
  packages/dds-desktop/src/primitives/space/index.tsx
  packages/dds-desktop/src/primitives/space/types.ts
Due: lint, format, type-check

feat: dnd-design-system 추가
  .pnp.cjs
  .yarn/install-state.gz
  services/passboard/package.json
  yarn.lock
Due: format

refactor: alias path 제거
  services/passboard/src/app/error.tsx
  services/passboard/src/app/layout.tsx
  services/passboard/src/app/not-found.tsx
  services/passboard/src/app/page.tsx
  services/passboard/src/features/error/Container.tsx
  services/passboard/src/features/error/components/ErrorCard/style.css.ts
  services/passboard/src/features/error/style.css.ts
  services/passboard/src/features/passboard/Container.tsx
  services/passboard/src/features/passboard/apis/checkEvent.ts
  services/passboard/src/features/passboard/apis/checkUserStatus.ts
  services/passboard/src/features/passboard/components/recruting-period-card/RecruitingPeriodCard.tsx
  services/passboard/src/features/passboard/components/recruting-period-card/style.css.ts
  services/passboard/src/features/passboard/components/reset-button/ResetButton.tsx
  services/passboard/src/features/passboard/components/status-container/StatusContainer.tsx
  services/passboard/src/features/passboard/components/status-container/components/RerultCard.tsx
  services/passboard/src/features/passboard/components/status-container/components/ResultTitle.tsx
  services/passboard/src/features/passboard/components/status-container/components/StatusForm.tsx
  services/passboard/src/features/passboard/components/status-container/style.css.ts
  services/passboard/src/features/passboard/context.tsx
  services/passboard/src/features/passboard/hooks/useCheckUserStatus.ts
  services/passboard/src/mocks/handlers/index.ts
  services/passboard/src/mocks/handlers/passboard.ts
  services/passboard/src/mocks/server.ts
  services/passboard/src/shared/components/Alert/Alert.tsx
  services/passboard/src/shared/components/Alert/context.tsx
  services/passboard/src/shared/components/Alert/styles.css.ts
  services/passboard/src/shared/components/Button/style.css.ts
  services/passboard/src/shared/components/Flex/Flex.tsx
  services/passboard/src/shared/components/Inputfield/context.tsx
  services/passboard/src/shared/components/Inputfield/style.css.ts
  services/passboard/src/shared/components/TextButton/style.css.ts
  services/passboard/src/shared/components/Textfield/Textfield.tsx
  services/passboard/src/shared/components/Textfield/style.css.ts
  services/passboard/src/shared/components/common/ChannelIo.tsx
  services/passboard/src/shared/constants/queryKeys.ts
  services/passboard/tsconfig.json
Due: lint, format, type-check

chore: dev 환경 webpack 설정 변경
  services/passboard/package.json
Due: format

refactor: analytics dynamic import, ssr:false 분리 진행
  services/passboard/src/app/layout.tsx
  services/passboard/src/providers/ClientOnlyProviders.tsx
Due: lint, format, type-check

chore: yarn install add
  .pnp.cjs
  .yarn/install-state.gz
  services/passboard/package.json
  yarn.lock
Due: format

chore: @dds/desktop으로 대체된 커스텀 컴포넌트 제거 (Button, Inputfield, Textfield)
  services/passboard/src/shared/components/Button/Button.tsx
  services/passboard/src/shared/components/Button/index.tsx
  services/passboard/src/shared/components/Button/style.css.ts
  services/passboard/src/shared/components/Inputfield/Inputfield.spec.tsx
  services/passboard/src/shared/components/Inputfield/Inputfield.tsx
  services/passboard/src/shared/components/Inputfield/compound/bottomText.tsx
  services/passboard/src/shared/components/Inputfield/compound/index.tsx
  services/passboard/src/shared/components/Inputfield/compound/label.tsx
  services/passboard/src/shared/components/Inputfield/context.tsx
  services/passboard/src/shared/components/Inputfield/index.tsx
  services/passboard/src/shared/components/Inputfield/style.css.ts
  services/passboard/src/shared/components/Textfield/Textfield.spec.tsx
  services/passboard/src/shared/components/Textfield/Textfield.tsx
  services/passboard/src/shared/components/Textfield/index.ts
  services/passboard/src/shared/components/Textfield/style.css.ts
  services/passboard/src/shared/components/Textfield/type.ts
Due: lint, format, type-check

feat: 누락된 폰트 추가
  services/passboard/public/assets/fonts/Pretendard-Bold.subset.woff2
  services/passboard/public/assets/fonts/Pretendard-Medium.subset.woff2
  services/passboard/public/assets/fonts/Pretendard-Regular.subset.woff2
Due: none

feat: Button을 @dds/desktop으로 교체
  services/passboard/src/features/passboard/components/status-container/components/StatusForm.tsx
Due: lint, format, type-check

install dependency
  .yarn/install-state.gz
Due: none

fix: move pages component to views
  services/passboard/src/app/error.tsx
  services/passboard/src/app/layout.tsx
  services/passboard/src/app/not-found.tsx
  services/passboard/src/app/page.tsx
  services/passboard/src/remotes/index.ts
  services/passboard/src/views/error/components/ErrorCard/ErrorCard.tsx
  services/passboard/src/views/error/components/ErrorCard/index.tsx
  services/passboard/src/views/error/components/ErrorCard/style.css.ts
  services/passboard/src/views/error/index.tsx
  services/passboard/src/views/error/style.css.ts
  services/passboard/src/views/passboard/components/recruting-period-card/RecruitingPeriodCard.tsx
  services/passboard/src/views/passboard/components/recruting-period-card/index.ts
  services/passboard/src/views/passboard/components/recruting-period-card/style.css.ts
  services/passboard/src/views/passboard/components/recruting-period-card/type.ts
  services/passboard/src/views/passboard/components/recruting-period-card/utils.ts
  services/passboard/src/views/passboard/components/reset-button/ResetButton.tsx
  services/passboard/src/views/passboard/components/reset-button/index.tsx
  services/passboard/src/views/passboard/components/status-container/StatusContainer.tsx
  services/passboard/src/views/passboard/components/status-container/components/RerultCard.tsx
  services/passboard/src/views/passboard/components/status-container/components/ResultTitle.tsx
  services/passboard/src/views/passboard/components/status-container/components/StatusForm.tsx
  services/passboard/src/views/passboard/components/status-container/index.tsx
  services/passboard/src/views/passboard/components/status-container/style.css.ts
  services/passboard/src/views/passboard/components/status-container/subset-font.css
  services/passboard/src/views/passboard/context.tsx
  services/passboard/src/views/passboard/index.tsx
  services/passboard/src/views/passboard/provider.tsx
  services/passboard/src/views/passboard/style.css.ts
  services/passboard/src/views/passboard/types/status.ts
Due: lint, format, type-check

fix: 이미지 파일명 수정
  services/passboard/public/assets/images/passboard/before-event-cat-0.png
  services/passboard/public/assets/images/passboard/before-event-cat-1.png
  services/passboard/public/assets/images/passboard/before-event-cat-2.png
  services/passboard/public/assets/images/passboard/before-event-cat-3.png
  services/passboard/public/assets/images/passboard/before-event-cat-4.png
Due: none

refactor: 구 passboard 컴포넌트 제거
  services/passboard/src/views/passboard/components/recruting-period-card/RecruitingPeriodCard.tsx
  services/passboard/src/views/passboard/components/recruting-period-card/index.ts
  services/passboard/src/views/passboard/components/recruting-period-card/style.css.ts
  services/passboard/src/views/passboard/components/recruting-period-card/type.ts
  services/passboard/src/views/passboard/components/recruting-period-card/utils.ts
  services/passboard/src/views/passboard/components/reset-button/ResetButton.tsx
  services/passboard/src/views/passboard/components/reset-button/index.tsx
  services/passboard/src/views/passboard/components/status-container/StatusContainer.tsx
  services/passboard/src/views/passboard/components/status-container/components/RerultCard.tsx
  services/passboard/src/views/passboard/components/status-container/components/ResultTitle.tsx
  services/passboard/src/views/passboard/components/status-container/components/StatusForm.tsx
  services/passboard/src/views/passboard/components/status-container/index.tsx
  services/passboard/src/views/passboard/components/status-container/style.css.ts
  services/passboard/src/views/passboard/components/status-container/subset-font.css
  services/passboard/src/views/passboard/types/status.ts
Due: lint, format, type-check

feat: 새 passboard 컴포넌트 구현 및 진입점 업데이트
  services/passboard/src/app/page.tsx
  services/passboard/src/constants/linkUrl.ts
  services/passboard/src/remotes/index.ts
  services/passboard/src/types/passboard.ts
  services/passboard/src/views/passboard/components/beforeEventCard/index.tsx
  services/passboard/src/views/passboard/components/beforeEventCard/style.css.ts
  services/passboard/src/views/passboard/components/eventResultPanel/EventResultForm.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/ResetButton.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/ResultCard.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/ResultTitle.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/index.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/style.css.ts
  services/passboard/src/views/passboard/components/eventResultPanel/subset-font.css
  services/passboard/src/views/passboard/index.tsx
Due: lint, format, type-check

refactor: Flex 컴포넌트 제거 및 스타일로 대체
  services/passboard/src/components/Alert/Alert.tsx
  services/passboard/src/components/Alert/styles.css.ts
  services/passboard/src/components/Flex/Flex.spec.tsx
  services/passboard/src/components/Flex/Flex.tsx
  services/passboard/src/components/Flex/index.tsx
  services/passboard/src/components/Flex/style.css.ts
  services/passboard/src/components/Flex/utils.ts
  services/passboard/src/components/TextButton/TextButton.tsx
  services/passboard/src/components/TextButton/style.css.ts
  services/passboard/src/views/error/index.tsx
  services/passboard/src/views/error/style.css.ts
  services/passboard/src/views/passboard/provider.tsx
  services/passboard/src/views/passboard/style.css.ts
Due: lint, format, type-check

fix: FieldboxBottomTxt error 색상을 recipe variant 대신 Txt color prop으로 전달
  packages/dds-desktop/src/primitives/fieldbox/compound/BottomTxt.tsx
  packages/dds-desktop/src/primitives/fieldbox/styles.css.ts
Due: lint, format, type-check

fix: FieldboxBottomTxt error 색상을 recipe variant 대신 Txt color prop으로 전달 (#75)
  packages/dds-desktop/src/primitives/fieldbox/compound/BottomTxt.tsx
  packages/dds-desktop/src/primitives/fieldbox/styles.css.ts
Due: lint, format, type-check

feat(passboard): MSW 브라우저/서버 모킹 세팅 추가
  services/passboard/eslint.config.js
  services/passboard/package.json
  services/passboard/public/mockServiceWorker.js
  services/passboard/src/app/layout.tsx
  services/passboard/src/instrumentation.ts
  services/passboard/src/mocks/browser.ts
  services/passboard/src/mocks/node.ts
  services/passboard/src/providers/MSWProvider.tsx
  services/passboard/src/views/passboard/components/eventResultPanel/EventResultForm.tsx
Due: lint, format, type-check

Path conditions:
  lint: any of: *.{js,ts,tsx,jsx}
  format: any of: *.{js,ts,tsx,jsx,json,md}
  type-check: any of: *.{ts,tsx}
