Repository DNDACADEMY/dnd-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, type-check

lint:
  run: yarn lint

format:
  run: yarn format

type-check:
  run: yarn check-types

chore: docgen 추가 및 storybook version bump
  .yarn/install-state.gz
  packages/dds-desktop/.storybook/main.ts
  packages/dds-desktop/package.json
  yarn.lock
Due: lint, format, type-check

feat(desktop): Txt 컴포넌트에 fontWeight와 color API 추가
  packages/dds-desktop/src/primitives/txt/Txt.stories.tsx
  packages/dds-desktop/src/primitives/txt/Txt.tsx
  packages/dds-desktop/src/primitives/txt/types.ts
Due: lint, format, type-check

chore: semantic 토큰 추가, 기존 토큰 json 네임 변경
  packages/dds-token/tokens/primitive.json
  packages/dds-token/tokens/semantic.json
Due: format

chore: script 수정 추가
  packages/dds-token/scripts/build-tokens.js
Due: lint, format

fix: token 변경 반영
  packages/dds-desktop/src/primitives/txt/Txt.stories.tsx
  packages/dds-desktop/src/primitives/txt/Txt.tsx
Due: lint, format, type-check

feat(token, desktop): primitive/semantic 컬러 토큰 분리 및 빌드 포맷 개선 (#7)
  packages/dds-desktop/src/primitives/txt/Txt.stories.tsx
  packages/dds-desktop/src/primitives/txt/Txt.tsx
  packages/dds-token/scripts/build-tokens.js
  packages/dds-token/tokens/primitive.json
  packages/dds-token/tokens/semantic.json
Due: lint, format, type-check

fix: txt Props, undefined 처리 추가
  packages/dds-desktop/src/primitives/txt/Txt.tsx
Due: lint, format, type-check

feat: txt export 추가
  packages/dds-desktop/src/primitives/index.tsx
Due: lint, format, type-check

feat(desktop): Txt 프리미티브 컴포넌트 export 및 props 정의 개선 (#8)
  packages/dds-desktop/src/primitives/index.tsx
  packages/dds-desktop/src/primitives/txt/Txt.tsx
Due: lint, format, type-check

chore(desktop): vite 빌드 및 타입 번들 설정 추가
  .yarn/install-state.gz
  packages/dds-desktop/package.json
  packages/dds-desktop/vite.config.ts
  yarn.lock
Due: lint, format, type-check

style: format
  packages/dds-desktop/vite.config.ts
Due: lint, format, type-check

chore(desktop): Vite 빌드 및 타입 번들 설정 추가 (#9)
  .yarn/install-state.gz
  packages/dds-desktop/package.json
  packages/dds-desktop/vite.config.ts
  yarn.lock
Due: lint, format, type-check

feat: fieldBox 컴포넌트를 추가해요.
  packages/dds-desktop/src/primitives/fieldbox/Fieldbox.tsx
  packages/dds-desktop/src/primitives/fieldbox/compound/BottomTxt.tsx
  packages/dds-desktop/src/primitives/fieldbox/compound/Label.tsx
  packages/dds-desktop/src/primitives/fieldbox/compound/index.tsx
  packages/dds-desktop/src/primitives/fieldbox/index.tsx
  packages/dds-desktop/src/primitives/fieldbox/styles.css.ts
  packages/dds-desktop/src/primitives/index.tsx
Due: lint, format, type-check

docs: fieldBox 스토리북 추가
  packages/dds-desktop/src/primitives/fieldbox/Fieldbox.stories.tsx
Due: lint, format, type-check

feat(desktop): Fieldbox 컴포넌트 및 스토리북 추가 (#10)
  packages/dds-desktop/src/primitives/fieldbox/Fieldbox.stories.tsx
  packages/dds-desktop/src/primitives/fieldbox/Fieldbox.tsx
  packages/dds-desktop/src/primitives/fieldbox/compound/BottomTxt.tsx
  packages/dds-desktop/src/primitives/fieldbox/compound/Label.tsx
  packages/dds-desktop/src/primitives/fieldbox/compound/index.tsx
  packages/dds-desktop/src/primitives/fieldbox/index.tsx
  packages/dds-desktop/src/primitives/fieldbox/styles.css.ts
  packages/dds-desktop/src/primitives/index.tsx
Due: lint, format, type-check

feat: fieldBox variant추가 및 context를 통한 상태공유 추가
  packages/dds-desktop/src/primitives/fieldbox/Fieldbox.tsx
  packages/dds-desktop/src/primitives/fieldbox/compound/Label.tsx
  packages/dds-desktop/src/primitives/fieldbox/context.tsx
  packages/dds-desktop/src/primitives/fieldbox/styles.css.ts
  packages/dds-desktop/src/primitives/fieldbox/type.ts
  packages/dds-desktop/src/utils/createCtxProvider.tsx
Due: lint, format, type-check

docs: storybook api 최신 반영
  packages/dds-desktop/src/primitives/fieldbox/Fieldbox.stories.tsx
Due: lint, format, type-check

feat(desktop): Fieldbox 상태/사이즈 variant 및 컨텍스트 추가 (#11)
  packages/dds-desktop/src/primitives/fieldbox/Fieldbox.stories.tsx
  packages/dds-desktop/src/primitives/fieldbox/Fieldbox.tsx
  packages/dds-desktop/src/primitives/fieldbox/compound/Label.tsx
  packages/dds-desktop/src/primitives/fieldbox/context.tsx
  packages/dds-desktop/src/primitives/fieldbox/styles.css.ts
  packages/dds-desktop/src/primitives/fieldbox/type.ts
  packages/dds-desktop/src/utils/createCtxProvider.tsx
Due: lint, format, type-check

chore: lucide-react를 추가해요.
  .yarn/install-state.gz
  packages/dds-desktop/package.json
  yarn.lock
Due: format

feat: icon Component를 추가합니다.
  packages/dds-desktop/src/primitives/icon/Icon.stories.tsx
  packages/dds-desktop/src/primitives/icon/Icon.tsx
  packages/dds-desktop/src/primitives/icon/index.tsx
  packages/dds-desktop/src/primitives/icon/type.ts
  packages/dds-desktop/src/utils/toPascalCase.ts
Due: lint, format, type-check

feat: icon export 추가
  packages/dds-desktop/src/primitives/index.tsx
Due: lint, format, type-check

feat(desktop): Icon 컴포넌트 추가 (#12)
  .yarn/install-state.gz
  packages/dds-desktop/package.json
  packages/dds-desktop/src/primitives/icon/Icon.stories.tsx
  packages/dds-desktop/src/primitives/icon/Icon.tsx
  packages/dds-desktop/src/primitives/icon/index.tsx
  packages/dds-desktop/src/primitives/icon/type.ts
  packages/dds-desktop/src/primitives/index.tsx
  packages/dds-desktop/src/utils/toPascalCase.ts
  yarn.lock
Due: lint, format, type-check

refactor: fieldbox content 분리 및 스토리북 수정 추가
  packages/dds-desktop/src/primitives/fieldbox/Fieldbox.stories.tsx
  packages/dds-desktop/src/primitives/fieldbox/Fieldbox.tsx
  packages/dds-desktop/src/primitives/fieldbox/context.tsx
  packages/dds-desktop/src/primitives/fieldbox/index.tsx
Due: lint, format, type-check

refactor: fieldbox content 분리 및 스토리북 수정 추가 (#13)
  packages/dds-desktop/src/primitives/fieldbox/Fieldbox.stories.tsx
  packages/dds-desktop/src/primitives/fieldbox/Fieldbox.tsx
  packages/dds-desktop/src/primitives/fieldbox/context.tsx
  packages/dds-desktop/src/primitives/fieldbox/index.tsx
Due: lint, format, type-check

feat: inputfield 컴포넌트 구현
  packages/dds-desktop/src/primitives/inputfield/Inputfield.tsx
  packages/dds-desktop/src/primitives/inputfield/compound/Icon.tsx
  packages/dds-desktop/src/primitives/inputfield/compound/index.tsx
  packages/dds-desktop/src/primitives/inputfield/context.tsx
  packages/dds-desktop/src/primitives/inputfield/index.tsx
  packages/dds-desktop/src/primitives/inputfield/style.css.ts
  packages/dds-desktop/src/primitives/inputfield/type.ts
Due: lint, format, type-check

docs: inputfield 스토리북 추가
  packages/dds-desktop/src/primitives/inputfield/Inputfield.stories.tsx
Due: lint, format, type-check

feat(desktop): Inputfield 제어 상태 훅 및 스토리 추가
  packages/dds-desktop/src/hooks/useControllableState.ts
  packages/dds-desktop/src/primitives/inputfield/Inputfield.stories.tsx
  packages/dds-desktop/src/primitives/inputfield/Inputfield.tsx
Due: lint, format, type-check

docs: storybook description 수정
  packages/dds-desktop/src/primitives/inputfield/Inputfield.stories.tsx
Due: lint, format, type-check

feat(desktop): Inputfield 컴포넌트 및 제어 상태 훅 추가 (#14)
  packages/dds-desktop/src/hooks/useControllableState.ts
  packages/dds-desktop/src/primitives/inputfield/Inputfield.stories.tsx
  packages/dds-desktop/src/primitives/inputfield/Inputfield.tsx
  packages/dds-desktop/src/primitives/inputfield/compound/Icon.tsx
  packages/dds-desktop/src/primitives/inputfield/compound/index.tsx
  packages/dds-desktop/src/primitives/inputfield/context.tsx
  packages/dds-desktop/src/primitives/inputfield/index.tsx
  packages/dds-desktop/src/primitives/inputfield/style.css.ts
  packages/dds-desktop/src/primitives/inputfield/type.ts
Due: lint, format, type-check

feat(desktop): Inputarea 컴포넌트 및 제어 훅 확장
  packages/dds-desktop/src/hooks/useControllableState.ts
  packages/dds-desktop/src/primitives/index.tsx
  packages/dds-desktop/src/primitives/inputarea/Inputarea.stories.tsx
  packages/dds-desktop/src/primitives/inputarea/Inputarea.tsx
  packages/dds-desktop/src/primitives/inputarea/compound/Icon.tsx
  packages/dds-desktop/src/primitives/inputarea/compound/index.tsx
  packages/dds-desktop/src/primitives/inputarea/context.tsx
  packages/dds-desktop/src/primitives/inputarea/index.tsx
  packages/dds-desktop/src/primitives/inputarea/style.css.ts
  packages/dds-desktop/src/primitives/inputarea/type.ts
Due: lint, format, type-check

feat(desktop): Inputarea 컴포넌트 및 제어 훅 확장 (#15)
  packages/dds-desktop/src/hooks/useControllableState.ts
  packages/dds-desktop/src/primitives/index.tsx
  packages/dds-desktop/src/primitives/inputarea/Inputarea.stories.tsx
  packages/dds-desktop/src/primitives/inputarea/Inputarea.tsx
  packages/dds-desktop/src/primitives/inputarea/compound/Icon.tsx
  packages/dds-desktop/src/primitives/inputarea/compound/index.tsx
  packages/dds-desktop/src/primitives/inputarea/context.tsx
  packages/dds-desktop/src/primitives/inputarea/index.tsx
  packages/dds-desktop/src/primitives/inputarea/style.css.ts
  packages/dds-desktop/src/primitives/inputarea/type.ts
Due: lint, format, type-check

chore: Chromatic 기반 Storybook 배포 워크플로우 추가
  .github/workflows/storybook.yml
Due: none

chore: Chromatic 기반 Storybook 배포 워크플로우 추가 (#16)
  .github/workflows/storybook.yml
Due: none

refactor(desktop): Inputarea rows prop 기본값 추가
  packages/dds-desktop/src/primitives/inputarea/Inputarea.stories.tsx
  packages/dds-desktop/src/primitives/inputarea/Inputarea.tsx
Due: lint, format, type-check

chore: yarn setting
  .yarn/install-state.gz
Due: none

refactor(desktop): Inputarea rows prop 기본값 추가 (#17)
  .yarn/install-state.gz
  packages/dds-desktop/src/primitives/inputarea/Inputarea.stories.tsx
  packages/dds-desktop/src/primitives/inputarea/Inputarea.tsx
Due: lint, format, type-check

refactor: Storybook 배포를 태그에서 레이블 방식으로 변경
  .github/workflows/storybook.yml
Due: none

refactor: Storybook 배포를 태그에서 레이블 방식으로 변경 (#18)
  .github/workflows/storybook.yml
Due: none

fix(desktop): Txt 컴포넌트 타이포그래피 line-height 수정
  packages/dds-desktop/src/primitives/txt/styles.css.ts
Due: lint, format, type-check

Path conditions:
  lint: any of: *.{js,ts,tsx,jsx}
  format: any of: *.{js,ts,tsx,jsx,json,md}
  type-check: any of: *.{ts,tsx}
