Repository DNDACADEMY/dnd-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, type-check

lint:
  run: yarn lint

format:
  run: yarn format

type-check:
  run: yarn check-types

chore: @dnd-lab/desktop 0.0.2 → 0.0.3 버전 업데이트
  .pnp.cjs
  .yarn/install-state.gz
  services/admin-web/package.json
  services/passboard/package.json
  yarn.lock
Due: format

chore: @dnd-lab/desktop 0.0.3 버전 업데이트 (#78)
  .pnp.cjs
  .yarn/install-state.gz
  services/admin-web/package.json
  services/passboard/package.json
  yarn.lock
Due: format

fix: pre-push 훅에서 build 완료 후 check-types 실행되도록 priority 설정
  lefthook.yml
Due: none

fix: pre-push 훅 check-types 실행 순서 수정 (#79)
  lefthook.yml
Due: none

chore: @dnd-lab/desktop 0.0.4 버전 업데이트
  .pnp.cjs
  .yarn/install-state.gz
  services/admin-web/package.json
  services/passboard/package.json
  yarn.lock
Due: format

chore: @dnd-lab/desktop 0.0.4 버전 업데이트 (#80)
  .pnp.cjs
  .yarn/install-state.gz
  services/admin-web/package.json
  services/passboard/package.json
  yarn.lock
Due: format

feat(passboard): KST 기준 날짜 파싱·D-day 유틸 추가
  services/passboard/src/utils/date.spec.ts
  services/passboard/src/utils/date.ts
Due: lint, format, type-check

fix(passboard): 배포 환경에서 발표 D-day가 하루 밀리는 문제 수정
  services/passboard/src/app/page.tsx
  services/passboard/src/views/passboard/components/beforeEventCard/index.tsx
Due: lint, format, type-check

chore(passboard): .env.sample에 REVALIDATION_TOKEN 추가
  services/passboard/.env.sample
Due: none

chore: yarn PnP 아티팩트 및 next-env.d.ts 갱신
  .pnp.cjs
  .yarn/install-state.gz
  services/passboard/next-env.d.ts
Due: lint, format, type-check

chore: yarn install-state 갱신
  .yarn/install-state.gz
Due: none

fix(passboard): parseKST가 오프셋 포함 문자열도 올바르게 파싱하도록 수정
  services/passboard/src/utils/date.spec.ts
  services/passboard/src/utils/date.ts
Due: lint, format, type-check

fix(passboard): 배포 환경에서 발표 D-day가 하루 밀리는 문제 수정 (#81)
  .pnp.cjs
  .yarn/install-state.gz
  services/passboard/.env.sample
  services/passboard/next-env.d.ts
  services/passboard/src/app/page.tsx
  services/passboard/src/utils/date.spec.ts
  services/passboard/src/utils/date.ts
  services/passboard/src/views/passboard/components/beforeEventCard/index.tsx
Due: lint, format, type-check

Path conditions:
  lint: any of: *.{js,ts,tsx,jsx}
  format: any of: *.{js,ts,tsx,jsx,json,md}
  type-check: any of: *.{ts,tsx}
