Repository DNDACADEMY/dnd-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, type-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx,jsx}"
      run: yarn lint
    format:
      glob: "*.{js,ts,tsx,jsx,json,md}"
      run: yarn format
    type-check:
      glob: "*.{ts,tsx}"
      run: yarn check-types

pre-push:
  parallel: true
  commands:
    lint:
      run: yarn lint
    format:
      run: yarn format
    type-check:
      run: yarn check-types
    build:
      run: yarn build

refactor: deprecated 타입 수정 및 eslint 규칙 수정
  packages/dds-desktop/src/primitives/popover/context.tsx
  tools/eslint-config/base.js
Due: lint, format, type-check

chore: passboard 패키지 버전 최신화 및 tsconfig 수정
  services/passboard/next-env.d.ts
  services/passboard/next.config.mjs
  services/passboard/package.json
  services/passboard/tsconfig.json
Due: lint, format, type-check

chore: eslint turbo 패키지 최신화 추가
  tools/eslint-config/package.json
Due: format

chore(desktop,passboard,tools): PnP 전환 및 설정 갱신 (#44)
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/install-state.gz
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/bin/prettier.cjs
  .yarn/sdks/prettier/index.cjs
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  packages/dds-desktop/package.json
  packages/dds-desktop/src/primitives/popover/context.tsx
  services/passboard/next-env.d.ts
  services/passboard/next.config.mjs
  services/passboard/package.json
  services/passboard/tsconfig.json
  tools/eslint-config/base.js
  tools/eslint-config/package.json
  turbo.json
  yarn.lock
Due: lint, format, type-check

chore(root): Yarn PnP ESLint IDE 연동 복구
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/install-state.gz
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/config-api.js
  .yarn/sdks/eslint/lib/types/config-api.d.ts
  .yarn/sdks/eslint/lib/types/index.d.ts
  .yarn/sdks/eslint/lib/types/rules.d.ts
  .yarn/sdks/eslint/lib/types/universal.d.ts
  .yarn/sdks/eslint/lib/types/use-at-your-own-risk.d.ts
  .yarn/sdks/eslint/lib/universal.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  package.json
  services/passboard/package.json
  yarn.lock
Due: lint, format, type-check

style: format
  services/passboard/next-env.d.ts
Due: lint, format, type-check

chore: Yarn PnP ESLint IDE 연동 복구 (#45)
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/install-state.gz
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/config-api.js
  .yarn/sdks/eslint/lib/types/config-api.d.ts
  .yarn/sdks/eslint/lib/types/index.d.ts
  .yarn/sdks/eslint/lib/types/rules.d.ts
  .yarn/sdks/eslint/lib/types/universal.d.ts
  .yarn/sdks/eslint/lib/types/use-at-your-own-risk.d.ts
  .yarn/sdks/eslint/lib/universal.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  package.json
  services/passboard/next-env.d.ts
  services/passboard/package.json
  yarn.lock
Due: lint, format, type-check

feat: radix, framer-motion 설치 추가
  .yarn/install-state.gz
  packages/dds-desktop/package.json
  yarn.lock
Due: format

chore: react-scroll-area 설치 추가
  .yarn/install-state.gz
  packages/dds-desktop/package.json
  yarn.lock
Due: format

feat: sidebar 컴포넌트 추가
  packages/dds-desktop/src/primitives/sidebar/Sidebar.spec.stories.tsx
  packages/dds-desktop/src/primitives/sidebar/Sidebar.stories.tsx
  packages/dds-desktop/src/primitives/sidebar/Sidebar.tsx
  packages/dds-desktop/src/primitives/sidebar/compound/Affix.tsx
  packages/dds-desktop/src/primitives/sidebar/compound/Collapsible.tsx
  packages/dds-desktop/src/primitives/sidebar/compound/Content.tsx
  packages/dds-desktop/src/primitives/sidebar/compound/Group.tsx
  packages/dds-desktop/src/primitives/sidebar/compound/Item.tsx
  packages/dds-desktop/src/primitives/sidebar/compound/Trigger.tsx
  packages/dds-desktop/src/primitives/sidebar/compound/index.tsx
  packages/dds-desktop/src/primitives/sidebar/context.tsx
  packages/dds-desktop/src/primitives/sidebar/index.tsx
  packages/dds-desktop/src/primitives/sidebar/style.css.ts
Due: lint, format, type-check

chore: forwardRefWithAs display 지원 추가
  packages/dds-desktop/src/utils/forwardRefWithAs.ts
Due: lint, format, type-check

format: style
  services/passboard/next-env.d.ts
Due: lint, format, type-check

fix: li -> div 변경
  packages/dds-desktop/src/primitives/sidebar/Sidebar.stories.tsx
  packages/dds-desktop/src/primitives/sidebar/compound/Item.tsx
Due: lint, format, type-check

fix: keyboard 이벤트 수정
  packages/dds-desktop/src/primitives/sidebar/compound/Item.tsx
Due: lint, format, type-check

refactor: context 내부 여부에 따라 기본 태그가 변경되도록 수정해요.
  packages/dds-desktop/src/primitives/sidebar/Sidebar.stories.tsx
  packages/dds-desktop/src/primitives/sidebar/compound/Group.tsx
  packages/dds-desktop/src/primitives/sidebar/compound/Item.tsx
  packages/dds-desktop/src/primitives/sidebar/context.tsx
  packages/dds-desktop/src/primitives/sidebar/style.css.ts
Due: lint, format, type-check

feat(desktop): Sidebar 컴포넌트 추가 (#46)
  .yarn/install-state.gz
  packages/dds-desktop/package.json
  packages/dds-desktop/src/primitives/sidebar/Sidebar.spec.stories.tsx
  packages/dds-desktop/src/primitives/sidebar/Sidebar.stories.tsx
  packages/dds-desktop/src/primitives/sidebar/Sidebar.tsx
  packages/dds-desktop/src/primitives/sidebar/compound/Affix.tsx
  packages/dds-desktop/src/primitives/sidebar/compound/Collapsible.tsx
  packages/dds-desktop/src/primitives/sidebar/compound/Content.tsx
  packages/dds-desktop/src/primitives/sidebar/compound/Group.tsx
  packages/dds-desktop/src/primitives/sidebar/compound/Item.tsx
  packages/dds-desktop/src/primitives/sidebar/compound/Trigger.tsx
  packages/dds-desktop/src/primitives/sidebar/compound/index.tsx
  packages/dds-desktop/src/primitives/sidebar/context.tsx
  packages/dds-desktop/src/primitives/sidebar/index.tsx
  packages/dds-desktop/src/primitives/sidebar/style.css.ts
  packages/dds-desktop/src/utils/forwardRefWithAs.ts
  services/passboard/next-env.d.ts
  yarn.lock
Due: lint, format, type-check

chore(desktop): peerDependencies 정리 및 문서 동기화
  .yarn/install-state.gz
  packages/dds-desktop/README.md
  packages/dds-desktop/package.json
  yarn.lock
Due: format

chore(desktop): peerDependencies 정리 및 문서 동기화 (#47)
  .yarn/install-state.gz
  packages/dds-desktop/README.md
  packages/dds-desktop/package.json
  yarn.lock
Due: format

chore: claude code init
  CLAUDE.md
Due: format

refactor: 캐싱이 되지 않는 불필요한 코드를 제거합니다.
  packages/dds-desktop/src/utils/createCtxProvider.tsx
Due: lint, format, type-check

refactor: 불필요한 의존성 배열내 값 제거 및 useEffect 제거
  packages/dds-desktop/src/primitives/sidebar/Sidebar.tsx
Due: lint, format, type-check

refactor: dds-token내 eslint 규칙 수정
  packages/dds-desktop/eslint.config.mjs
  packages/dds-desktop/src/primitives/sidebar/Sidebar.tsx
Due: lint, format, type-check

refactor(desktop): 불필요한 상태 동기화 및 메모이제이션 제거 (#48)
  CLAUDE.md
  packages/dds-desktop/eslint.config.mjs
  packages/dds-desktop/src/primitives/sidebar/Sidebar.tsx
  packages/dds-desktop/src/utils/createCtxProvider.tsx
Due: lint, format, type-check

style: format
  .claude/skills/next-best-practices/functions.md
  .claude/skills/next-best-practices/scripts.md
  .cursor/skills/next-best-practices/functions.md
  .cursor/skills/next-best-practices/scripts.md
Due: format

chore(claude): Claude Code 훅 설정 추가
  .claude/hooks/format-on-save.js
  .claude/hooks/pr-review.js
  .claude/pr-review-ignore
  .claude/settings.json
  .env.sample
  packages/dds-desktop/src/primitives/button/Button.tsx
Due: lint, format, type-check

chore(claude): Claude Code 훅 설정 추가 (#50)
  .claude/hooks/format-on-save.js
  .claude/hooks/pr-review.js
  .claude/pr-review-ignore
  .claude/settings.json
  .env.sample
  packages/dds-desktop/src/primitives/button/Button.tsx
Due: lint, format, type-check

chore: mise yarn setting 추가
  .mise.toml
Due: none

chore: mise yarn setting 추가 (#51)
  .mise.toml
Due: none

feat(desktop): Txt 컴포넌트 줄바꿈 처리 및 ref 포워딩 추가
  packages/dds-desktop/src/primitives/txt/Txt.tsx
  packages/dds-desktop/src/primitives/txt/utils/formatTxt.tsx
Due: lint, format, type-check

style: format
  packages/dds-desktop/src/primitives/txt/Txt.tsx
Due: lint, format, type-check

feat(desktop): Txt 컴포넌트 줄바꿈 처리 및 ref 포워딩 추가 (#52)
  packages/dds-desktop/src/primitives/txt/Txt.tsx
  packages/dds-desktop/src/primitives/txt/utils/formatTxt.tsx
Due: lint, format, type-check

chore: Yarn PnP zero-install 설정 수정
  .gitignore
  .pnp.cjs
  .pnp.loader.mjs
Due: none

fix: eslint react 관련 규칙 추가
  tools/eslint-config/react-internal.js
Due: lint, format

chore: Yarn PnP zero-install 설정 수정 (#54)
  .gitignore
  .pnp.cjs
  .pnp.loader.mjs
Due: none

fix: eslint react 관련 규칙 추가 (#55)
  tools/eslint-config/react-internal.js
Due: lint, format

chore: 컴포넌트 추가 및 테스트 작성 skill을 추가합니다.
  .claude/skills/a11y-spec-writer/SKILL.md
  .claude/skills/a11y-spec-writer/references/rules/aria-describedby.md
  .claude/skills/a11y-spec-writer/references/rules/aria-expanded.md
  .claude/skills/a11y-spec-writer/references/rules/aria-invalid.md
  .claude/skills/a11y-spec-writer/references/rules/aria-label.md
  .claude/skills/a11y-spec-writer/references/rules/aria-live.md
  .claude/skills/a11y-spec-writer/references/rules/aria-required.md
  .claude/skills/a11y-spec-writer/references/rules/form-error.md
  .claude/skills/a11y-spec-writer/references/rules/form-fieldset.md
  .claude/skills/a11y-spec-writer/references/rules/form-label.md
  .claude/skills/a11y-spec-writer/references/rules/interactive-button-link.md
  .claude/skills/a11y-spec-writer/references/rules/interactive-dialog.md
  .claude/skills/a11y-spec-writer/references/rules/interactive-disclosure.md
  .claude/skills/a11y-spec-writer/references/rules/interactive-tabs.md
  .claude/skills/a11y-spec-writer/references/rules/interactive-tooltip.md
  .claude/skills/a11y-spec-writer/references/rules/keyboard-escape.md
  .claude/skills/a11y-spec-writer/references/rules/keyboard-focus-trap.md
  .claude/skills/a11y-spec-writer/references/rules/keyboard-focus-visible.md
  .claude/skills/a11y-spec-writer/references/rules/keyboard-roving-tabindex.md
  .claude/skills/a11y-spec-writer/references/rules/keyboard-tab-order.md
  .claude/skills/a11y-spec-writer/references/rules/sr-heading.md
  .claude/skills/a11y-spec-writer/references/rules/sr-image-alt.md
  .claude/skills/a11y-spec-writer/references/rules/sr-link-text.md
  .claude/skills/a11y-spec-writer/references/rules/sr-only.md
  .claude/skills/a11y-spec-writer/references/rules/visual-color-contrast.md
  .claude/skills/a11y-spec-writer/references/rules/visual-motion.md
  .claude/skills/a11y-spec-writer/references/rules/visual-not-color-only.md
  .claude/skills/a11y-spec-writer/references/wcag-patterns.md
  .claude/skills/dds-component/SKILL.md
Due: format
