Repository DNDACADEMY/dnd-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, type-check

lint:
  run: yarn lint

format:
  run: yarn format

type-check:
  run: yarn check-types

feat(form): 폼 스키마 타입 및 목 데이터 추가
  services/form/src/mock/data.ts
  services/form/src/types/schema.ts
Due: lint, format, type-check

feat(form): 폼 스키마 타입 및 목 데이터 추가 (#33)
  services/form/src/mock/data.ts
  services/form/src/types/schema.ts
Due: lint, format, type-check

refactor: schema 타입 mapped 형식으로 추론되게 변경
  services/form/src/types/schema.ts
Due: lint, format, type-check

refactor: schema 타입 mapped 형식으로 추론되게 변경 (#34)
  services/form/src/types/schema.ts
Due: lint, format, type-check

chore: msw 의존성 설치 및 세팅 추가
  .yarn/install-state.gz
  services/form/.env.sample
  services/form/package.json
  services/form/public/mockServiceWorker.js
  services/form/src/types/vite-env.d.ts
  yarn.lock
Due: lint, format, type-check

chore: msw 데이터 연결 추가
  services/form/src/main.tsx
  services/form/src/mock/browser.ts
  services/form/src/mock/constants.ts
  services/form/src/mock/handlers.ts
Due: lint, format, type-check

fix: 실제 데이터에 맞게 mock 데이터 일부 수정
  services/form/src/mock/data.ts
  services/form/src/mock/handlers.ts
Due: lint, format, type-check

feat(form): MSW 기반 API 모킹 환경 구축 (#35)
  .yarn/install-state.gz
  services/form/.env.sample
  services/form/package.json
  services/form/public/mockServiceWorker.js
  services/form/src/main.tsx
  services/form/src/mock/browser.ts
  services/form/src/mock/constants.ts
  services/form/src/mock/data.ts
  services/form/src/mock/handlers.ts
  services/form/src/types/vite-env.d.ts
  yarn.lock
Due: lint, format, type-check

feat(desktop): Space 컴포넌트 추가
  packages/dds-desktop/src/primitives/index.tsx
  packages/dds-desktop/src/primitives/space/Space.stories.tsx
  packages/dds-desktop/src/primitives/space/Space.tsx
  packages/dds-desktop/src/primitives/space/index.tsx
  packages/dds-desktop/src/primitives/space/types.ts
Due: lint, format, type-check

feat(desktop): Space 컴포넌트 추가 (#37)
  packages/dds-desktop/src/primitives/index.tsx
  packages/dds-desktop/src/primitives/space/Space.stories.tsx
  packages/dds-desktop/src/primitives/space/Space.tsx
  packages/dds-desktop/src/primitives/space/index.tsx
  packages/dds-desktop/src/primitives/space/types.ts
Due: lint, format, type-check

fix: setting 반영
  .yarn/install-state.gz
  services/admin-web/README.md
  services/admin-web/index.html
  services/admin-web/src/App.css
  services/admin-web/src/App.tsx
  services/admin/.gitignore
  services/admin/@types/svg.d.ts
  services/admin/README.md
  services/admin/eslint.config.js
  services/admin/index.html
  services/admin/package.json
  services/admin/public/vite.svg
  services/admin/src/Router.tsx
  services/admin/src/assets/react.svg
  services/admin/src/components/Layout.tsx
  services/admin/src/containers/AuthenticationBoundary.tsx
  services/admin/src/index.css
  services/admin/src/main.tsx
  services/admin/src/pages/AdminManagement.tsx
  services/admin/src/pages/ChangePassword.tsx
  services/admin/src/pages/LoginPage.tsx
  services/admin/src/pages/NotFound404.tsx
  services/admin/src/pages/ProjectManagement.tsx
  services/admin/src/pages/ReviewManagement.tsx
  services/admin/tsconfig.json
  services/admin/vite.config.ts
  yarn.lock
Due: lint, format, type-check

refactor(desktop): Inputfield를 Textfield로, Inputarea를 Textarea로 컴포넌트명 변경
  packages/dds-desktop/src/primitives/index.tsx
  packages/dds-desktop/src/primitives/inputarea/compound/Icon.tsx
  packages/dds-desktop/src/primitives/inputarea/compound/index.tsx
  packages/dds-desktop/src/primitives/inputarea/context.tsx
  packages/dds-desktop/src/primitives/inputarea/index.tsx
  packages/dds-desktop/src/primitives/inputarea/type.ts
  packages/dds-desktop/src/primitives/inputfield/compound/Icon.tsx
  packages/dds-desktop/src/primitives/inputfield/compound/index.tsx
  packages/dds-desktop/src/primitives/inputfield/context.tsx
  packages/dds-desktop/src/primitives/inputfield/index.tsx
  packages/dds-desktop/src/primitives/inputfield/type.ts
  packages/dds-desktop/src/primitives/textarea/Textarea.stories.tsx
  packages/dds-desktop/src/primitives/textarea/Textarea.tsx
  packages/dds-desktop/src/primitives/textarea/compound/Icon.tsx
  packages/dds-desktop/src/primitives/textarea/compound/index.tsx
  packages/dds-desktop/src/primitives/textarea/context.tsx
  packages/dds-desktop/src/primitives/textarea/index.tsx
  packages/dds-desktop/src/primitives/textarea/style.css.ts
  packages/dds-desktop/src/primitives/textarea/type.ts
  packages/dds-desktop/src/primitives/textfield/Textfield.stories.tsx
  packages/dds-desktop/src/primitives/textfield/Textfield.tsx
  packages/dds-desktop/src/primitives/textfield/compound/Icon.tsx
  packages/dds-desktop/src/primitives/textfield/compound/index.tsx
  packages/dds-desktop/src/primitives/textfield/context.tsx
  packages/dds-desktop/src/primitives/textfield/index.tsx
  packages/dds-desktop/src/primitives/textfield/style.css.ts
  packages/dds-desktop/src/primitives/textfield/type.ts
Due: lint, format, type-check

refactor(desktop): Inputfield를 Textfield로, Inputarea를 Textarea로 컴포넌트명 변경 (#39)
  packages/dds-desktop/src/primitives/index.tsx
  packages/dds-desktop/src/primitives/inputarea/compound/Icon.tsx
  packages/dds-desktop/src/primitives/inputarea/compound/index.tsx
  packages/dds-desktop/src/primitives/inputarea/context.tsx
  packages/dds-desktop/src/primitives/inputarea/index.tsx
  packages/dds-desktop/src/primitives/inputarea/type.ts
  packages/dds-desktop/src/primitives/inputfield/compound/Icon.tsx
  packages/dds-desktop/src/primitives/inputfield/compound/index.tsx
  packages/dds-desktop/src/primitives/inputfield/context.tsx
  packages/dds-desktop/src/primitives/inputfield/index.tsx
  packages/dds-desktop/src/primitives/inputfield/type.ts
  packages/dds-desktop/src/primitives/textarea/Textarea.stories.tsx
  packages/dds-desktop/src/primitives/textarea/Textarea.tsx
  packages/dds-desktop/src/primitives/textarea/compound/Icon.tsx
  packages/dds-desktop/src/primitives/textarea/compound/index.tsx
  packages/dds-desktop/src/primitives/textarea/context.tsx
  packages/dds-desktop/src/primitives/textarea/index.tsx
  packages/dds-desktop/src/primitives/textarea/style.css.ts
  packages/dds-desktop/src/primitives/textarea/type.ts
  packages/dds-desktop/src/primitives/textfield/Textfield.stories.tsx
  packages/dds-desktop/src/primitives/textfield/Textfield.tsx
  packages/dds-desktop/src/primitives/textfield/compound/Icon.tsx
  packages/dds-desktop/src/primitives/textfield/compound/index.tsx
  packages/dds-desktop/src/primitives/textfield/context.tsx
  packages/dds-desktop/src/primitives/textfield/index.tsx
  packages/dds-desktop/src/primitives/textfield/style.css.ts
  packages/dds-desktop/src/primitives/textfield/type.ts
Due: lint, format, type-check

feat: useId를 사용하는, 고유 Id를 생성하는 훅 추가.
  packages/dds-desktop/src/hooks/useGeneratedId.ts
Due: lint, format, type-check

docs: useControllableState내 주석 설명추가.
  packages/dds-desktop/src/hooks/useControllableState.ts
Due: lint, format, type-check

feat(desktop): Textfield와 Textarea에 자동 ID 생성 기능 추가
  packages/dds-desktop/src/primitives/textarea/Textarea.stories.tsx
  packages/dds-desktop/src/primitives/textarea/Textarea.tsx
  packages/dds-desktop/src/primitives/textarea/compound/Label.tsx
  packages/dds-desktop/src/primitives/textarea/compound/index.tsx
  packages/dds-desktop/src/primitives/textarea/context.tsx
  packages/dds-desktop/src/primitives/textfield/Textfield.stories.tsx
  packages/dds-desktop/src/primitives/textfield/Textfield.tsx
  packages/dds-desktop/src/primitives/textfield/compound/Label.tsx
  packages/dds-desktop/src/primitives/textfield/compound/index.tsx
  packages/dds-desktop/src/primitives/textfield/context.tsx
  packages/dds-desktop/src/primitives/textfield/index.tsx
Due: lint, format, type-check

fix: style 포맷 적용
  packages/dds-desktop/src/hooks/useGeneratedId.ts
  packages/dds-desktop/src/primitives/textarea/Textarea.tsx
  packages/dds-desktop/src/primitives/textarea/compound/Label.tsx
  packages/dds-desktop/src/primitives/textfield/Textfield.tsx
  packages/dds-desktop/src/primitives/textfield/compound/Label.tsx
Due: lint, format, type-check

chore(passboard): 스토리북 설정 정리
  .yarn/install-state.gz
  services/passboard/package.json
  services/passboard/src/shared/components/Button/Button.stories.tsx
  services/passboard/src/shared/components/Inputfield/Inputfield.spec.tsx
  services/passboard/src/shared/components/Inputfield/Inputfield.stories.tsx
  services/passboard/src/shared/components/Textfield/Textfield.spec.tsx
  services/passboard/src/shared/components/Textfield/Textfield.stories.tsx
  services/passboard/tsconfig.json
  services/passboard/vitest.config.ts
  yarn.lock
Due: lint, format, type-check

chore(passboard): 스토리북 설정 정리 (#40)
  .yarn/install-state.gz
  services/passboard/package.json
  services/passboard/src/shared/components/Button/Button.stories.tsx
  services/passboard/src/shared/components/Inputfield/Inputfield.spec.tsx
  services/passboard/src/shared/components/Inputfield/Inputfield.stories.tsx
  services/passboard/src/shared/components/Textfield/Textfield.spec.tsx
  services/passboard/src/shared/components/Textfield/Textfield.stories.tsx
  services/passboard/tsconfig.json
  services/passboard/vitest.config.ts
  yarn.lock
Due: lint, format, type-check

feat: composeHandler 추가
  packages/dds-desktop/src/utils/composeHandler.ts
Due: lint, format, type-check

feat: native popover 구현
  packages/dds-desktop/src/primitives/popover/Popover.stories.tsx
  packages/dds-desktop/src/primitives/popover/Popover.tsx
  packages/dds-desktop/src/primitives/popover/compound/Anchor.tsx
  packages/dds-desktop/src/primitives/popover/compound/Content.tsx
  packages/dds-desktop/src/primitives/popover/compound/Trigger.tsx
  packages/dds-desktop/src/primitives/popover/compound/index.tsx
  packages/dds-desktop/src/primitives/popover/context.tsx
  packages/dds-desktop/src/primitives/popover/index.tsx
  packages/dds-desktop/src/primitives/popover/style.css.ts
Due: lint, format, type-check

style: format 수정
  services/passboard/package.json
Due: format

feat(desktop): popover 컴포넌트 추가
  packages/dds-desktop/src/primitives/index.tsx
  packages/dds-desktop/src/primitives/popover/Popover.spec.stories.tsx
  packages/dds-desktop/src/primitives/popover/Popover.stories.tsx
  packages/dds-desktop/src/primitives/popover/Popover.tsx
  packages/dds-desktop/src/primitives/popover/compound/Anchor.tsx
  packages/dds-desktop/src/primitives/popover/compound/Content.tsx
  packages/dds-desktop/src/primitives/popover/compound/Trigger.tsx
  packages/dds-desktop/src/primitives/popover/context.tsx
  packages/dds-desktop/src/primitives/popover/index.tsx
  packages/dds-desktop/src/primitives/popover/style.css.ts
Due: lint, format, type-check

chore: radix-popover 설치 추가
  .yarn/install-state.gz
  packages/dds-desktop/package.json
  yarn.lock
Due: format

docs: 스토리북 예제 수정
  packages/dds-desktop/src/primitives/popover/Popover.stories.tsx
Due: lint, format, type-check

docs: jsdoc 수정
  packages/dds-desktop/src/primitives/popover/compound/Content.tsx
  packages/dds-desktop/src/primitives/popover/compound/Trigger.tsx
Due: lint, format, type-check

feat(desktop): Popover 컴포넌트 추가 (#41)
  .yarn/install-state.gz
  packages/dds-desktop/package.json
  packages/dds-desktop/src/primitives/index.tsx
  packages/dds-desktop/src/primitives/popover/Popover.spec.stories.tsx
  packages/dds-desktop/src/primitives/popover/Popover.stories.tsx
  packages/dds-desktop/src/primitives/popover/Popover.tsx
  packages/dds-desktop/src/primitives/popover/compound/Anchor.tsx
  packages/dds-desktop/src/primitives/popover/compound/Content.tsx
  packages/dds-desktop/src/primitives/popover/compound/Trigger.tsx
  packages/dds-desktop/src/primitives/popover/compound/index.tsx
  packages/dds-desktop/src/primitives/popover/context.tsx
  packages/dds-desktop/src/primitives/popover/index.tsx
  packages/dds-desktop/src/primitives/popover/style.css.ts
  packages/dds-desktop/src/utils/composeHandler.ts
  services/passboard/package.json
  yarn.lock
Due: lint, format, type-check

chore: storybook 설정 수정
  .yarn/install-state.gz
  packages/dds-desktop/.storybook/main.ts
  packages/dds-desktop/.storybook/manager.ts
  packages/dds-desktop/.storybook/utils/getAbsolutePath.ts
  packages/dds-desktop/package.json
  yarn.lock
Due: lint, format, type-check

chore: storybook 설정 수정 (#42)
  .yarn/install-state.gz
  packages/dds-desktop/.storybook/main.ts
  packages/dds-desktop/.storybook/manager.ts
  packages/dds-desktop/.storybook/utils/getAbsolutePath.ts
  packages/dds-desktop/package.json
  yarn.lock
Due: lint, format, type-check

fix: 워크스페이스 간에 의존성을 공유하지 못하도록 엄격하게 격리합니다.
  .yarn/install-state.gz
  .yarnrc.yml
  packages/dds-desktop/package.json
  yarn.lock
Due: format

fix: 누락된 의존성 추가
  .yarn/install-state.gz
  services/passboard/package.json
  yarn.lock
Due: format

fix(passboard): 타입체크 설정 보정
  services/passboard/vitest.config.ts
Due: lint, format, type-check

fix(desktop,passboard): 워크스페이스 의존성 정합성 개선 (#43)
  .yarn/install-state.gz
  .yarnrc.yml
  packages/dds-desktop/package.json
  services/passboard/package.json
  services/passboard/vitest.config.ts
  yarn.lock
Due: lint, format, type-check

chore: nodeLinker:node-modules 제외, pnp로 변경
  .yarnrc.yml
Due: none

chore: yarnrc내 dependencies 명시 추가
  .yarnrc.yml
Due: none

chore: zero install 관련 파일 추가 및 스크립트 변경
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/install-state.gz
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/bin/prettier.cjs
  .yarn/sdks/prettier/index.cjs
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  package.json
  turbo.json
  yarn.lock
Due: lint, format

chore: desktop 일부 패키지 최신화 수정.
  packages/dds-desktop/package.json
Due: format

Path conditions:
  lint: any of: *.{js,ts,tsx,jsx}
  format: any of: *.{js,ts,tsx,jsx,json,md}
  type-check: any of: *.{ts,tsx}
