Repository DNDACADEMY/dnd-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, type-check

lint:
  run: yarn lint

format:
  run: yarn format

type-check:
  run: yarn check-types

chore: format
  packages/ui/src/button.tsx
  packages/ui/src/card.tsx
  packages/ui/src/code.tsx
  services/admin-web/@types/svg.d.ts
  services/admin-web/README.md
  services/admin-web/src/App.tsx
  services/admin-web/src/main.tsx
  services/admin-web/vite.config.ts
Due: lint, format, type-check

chore: script fix
  package.json
  turbo.json
Due: format

chore
  .editorconfig
Due: none

chore: pin node version to 22.21.1 with mise
  .mise.toml
Due: none

docs: document setup with mise and lefthook
  README.md
  package.json
Due: format

chore
  .npmrc
  .yarn/install-state.gz
Due: none

feat: introduce dds token and desktop ui packages
  packages/dds-desktop/eslint.config.mjs
  packages/dds-desktop/package.json
  packages/dds-desktop/src/button.tsx
  packages/dds-desktop/src/card.tsx
  packages/dds-desktop/src/code.tsx
  packages/dds-desktop/tsconfig.json
  packages/dds-token/eslint.config.mjs
  packages/dds-token/package.json
  packages/dds-token/src/colors/index.ts
  packages/dds-token/src/colors/primary-colors.ts
  packages/dds-token/src/colors/semantic-colors.ts
  packages/dds-token/src/index.ts
  packages/dds-token/tsconfig.json
  yarn.lock
Due: lint, format, type-check

chore: update admin-web to use dds packages
  services/admin-web/package.json
Due: format

chore
  .yarn/install-state.gz
Due: none

chore: eslint 설정 수정
  .yarn/install-state.gz
  tools/eslint-config/base.js
  tools/eslint-config/package.json
  yarn.lock
Due: lint, format

chore: prettier 설정 수정
  .editorconfig
  .prettierrc.json
  packages/dds-desktop/src/code.tsx
  services/passboard/src/features/error/Container.tsx
  services/passboard/src/features/passboard/Container.tsx
  services/passboard/src/features/passboard/apis/checkUserStatus.ts
  services/passboard/src/features/passboard/components/recruting-period-card/RecruitingPeriodCard.tsx
  services/passboard/src/features/passboard/components/recruting-period-card/utils.ts
  services/passboard/src/features/passboard/components/status-container/StatusContainer.tsx
  services/passboard/src/features/passboard/components/status-container/components/StatusForm.tsx
  services/passboard/src/features/passboard/context.tsx
  services/passboard/src/features/passboard/hooks/useCheckUserStatus.ts
  services/passboard/src/mocks/handlers/passboard.ts
  services/passboard/src/shared/components/Alert/Alert.tsx
  services/passboard/src/shared/components/Flex/Flex.tsx
  services/passboard/src/shared/components/Inputfield/Inputfield.tsx
  services/passboard/src/shared/components/Inputfield/context.tsx
  services/passboard/src/shared/components/SwichCase/SwichCase.tsx
  services/passboard/src/shared/components/common/ErrorBoundary.tsx
  services/passboard/src/shared/hooks/useTimedVisibility.ts
  services/passboard/src/shared/providers/QureyClient.tsx
  services/passboard/src/shared/styles/theme.css.ts
  services/passboard/src/shared/utils/createContextProvider.tsx
  services/passboard/src/shared/utils/isMobile.ts
  services/passboard/vitest.config.ts
Due: lint, format, type-check

chore: template setting add
  .github/PULL_REQUEST_TEMPLATE.md
Due: format

docs(claude): Claude Code 커맨드 정의 및 문서 추가
  .claude/commands/README.md
  .claude/commands/commit-msg.md
  .claude/commands/commit.md
  .claude/commands/pr-analyze.md
  .claude/commands/pr-create.md
  .claude/commands/pr-draft.md
  .claude/commands/pr-title.md
Due: format

chore: yarn
  .yarn/install-state.gz
  yarn.lock
Due: none

feat: token studio setting add
  packages/dds-token/package.json
  packages/dds-token/scripts/build-tokens.js
  packages/dds-token/src/colors/index.ts
  packages/dds-token/src/colors/primary-colors.ts
  packages/dds-token/src/colors/semantic-colors.ts
  packages/dds-token/src/index.ts
  packages/dds-token/src/styles/variables.css
  packages/dds-token/src/tokens/tokens.d.ts
  packages/dds-token/src/tokens/tokens.js
  packages/dds-token/tokens/core.json
Due: lint, format, type-check

feat(token): Token Studio 기반 디자인 토큰 자동화 (#1)
  .yarn/install-state.gz
  packages/dds-token/package.json
  packages/dds-token/scripts/build-tokens.js
  packages/dds-token/src/colors/index.ts
  packages/dds-token/src/colors/primary-colors.ts
  packages/dds-token/src/colors/semantic-colors.ts
  packages/dds-token/src/index.ts
  packages/dds-token/src/styles/variables.css
  packages/dds-token/src/tokens/tokens.d.ts
  packages/dds-token/src/tokens/tokens.js
  packages/dds-token/tokens/core.json
  yarn.lock
Due: lint, format, type-check

chore(root): 머지된 브랜치 자동 삭제 워크플로우 추가
  .github/workflows/delete-merged-branch.yml
Due: none

docs(token): @dds/token 패키지 README 추가
  packages/dds-token/README.md
Due: format

docs(token): @dds/token 패키지 README 추가 (#2)
  packages/dds-token/README.md
Due: format

fix: setting 반영
  .yarn/install-state.gz
  services/admin-web/README.md
  services/admin-web/index.html
  services/admin-web/src/App.css
  services/admin-web/src/App.tsx
  services/admin/.gitignore
  services/admin/@types/svg.d.ts
  services/admin/README.md
  services/admin/eslint.config.js
  services/admin/index.html
  services/admin/package.json
  services/admin/public/vite.svg
  services/admin/src/Router.tsx
  services/admin/src/assets/react.svg
  services/admin/src/components/Layout.tsx
  services/admin/src/containers/AuthenticationBoundary.tsx
  services/admin/src/index.css
  services/admin/src/main.tsx
  services/admin/src/pages/AdminManagement.tsx
  services/admin/src/pages/ChangePassword.tsx
  services/admin/src/pages/LoginPage.tsx
  services/admin/src/pages/NotFound404.tsx
  services/admin/src/pages/ProjectManagement.tsx
  services/admin/src/pages/ReviewManagement.tsx
  services/admin/tsconfig.json
  services/admin/vite.config.ts
  yarn.lock
Due: lint, format, type-check

styles: format
  packages/dds-desktop/src/stories/Button.stories.ts
  packages/dds-desktop/src/stories/Header.stories.ts
  packages/dds-desktop/src/stories/Page.stories.ts
Due: lint, format, type-check

chore: claude rule fix
  .claude/commands/commit-msg.md
  .claude/commands/commit.md
  .claude/commands/pr-analyze.md
  .claude/commands/pr-create.md
  .claude/commands/pr-draft.md
  .claude/commands/pr-title.md
  packages/dds-desktop/debug-storybook.log
Due: format

feat(token): 디자인 토큰 core 팔레트 및 구조 정리
  packages/dds-token/tokens/core.json
Due: format

feat(token): 디자인 토큰 core 팔레트 및 구조 정리 (#4)
  packages/dds-token/tokens/core.json
Due: format

chore: pr 자동 생성 명령어에 기본 assignee 추가
  .claude/commands/pr-create.md
  .claude/commands/pr-draft.md
Due: format

chore: pr 커맨드 파일명 통일
  .claude/commands/pr.md
Due: format

chore: command 명령어 및 동작 수정 (#5)
  .claude/commands/pr-draft.md
  .claude/commands/pr.md
Due: format

fix: label 관련 설정 제거
  packages/dds-desktop/.storybook/manager.ts
Due: lint, format, type-check

docs: 컴포넌트 개발 가이드라인 추가
  packages/dds-desktop/README.md
  packages/dds-desktop/debug-storybook.log
  packages/dds-desktop/docs/COMPONENT_GUIDELINES.md
Due: format

docs: 주석 추가
  packages/dds-desktop/src/utils/forwardRefWithAs.ts
Due: lint, format, type-check

feat: cx util 추가
  packages/dds-desktop/src/utils/cx.ts
Due: lint, format, type-check

feat: forwardRefWithAs 유틸추가
  packages/dds-desktop/src/utils/forwardRefWithAs.ts
Due: lint, format, type-check

feat: Txt 컴포넌트 추가 및 기존 스토리 파일 제거
  packages/dds-desktop/src/primitives/txt/Txt.stories.tsx
  packages/dds-desktop/src/primitives/txt/Txt.tsx
  packages/dds-desktop/src/primitives/txt/types.ts
  packages/dds-desktop/src/stories/Button.stories.ts
  packages/dds-desktop/src/stories/Button.tsx
  packages/dds-desktop/src/stories/Configure.mdx
  packages/dds-desktop/src/stories/Header.stories.ts
  packages/dds-desktop/src/stories/Header.tsx
  packages/dds-desktop/src/stories/Page.stories.ts
  packages/dds-desktop/src/stories/Page.tsx
  packages/dds-desktop/src/stories/assets/accessibility.png
  packages/dds-desktop/src/stories/assets/accessibility.svg
  packages/dds-desktop/src/stories/assets/addon-library.png
  packages/dds-desktop/src/stories/assets/assets.png
  packages/dds-desktop/src/stories/assets/avif-test-image.avif
  packages/dds-desktop/src/stories/assets/context.png
  packages/dds-desktop/src/stories/assets/discord.svg
  packages/dds-desktop/src/stories/assets/docs.png
  packages/dds-desktop/src/stories/assets/figma-plugin.png
  packages/dds-desktop/src/stories/assets/github.svg
  packages/dds-desktop/src/stories/assets/share.png
  packages/dds-desktop/src/stories/assets/styling.png
  packages/dds-desktop/src/stories/assets/testing.png
  packages/dds-desktop/src/stories/assets/theming.png
  packages/dds-desktop/src/stories/assets/tutorials.svg
  packages/dds-desktop/src/stories/assets/youtube.svg
  packages/dds-desktop/src/stories/button.css
  packages/dds-desktop/src/stories/header.css
  packages/dds-desktop/src/stories/page.css
Due: lint, format, type-check

feat(desktop): Txt 프리미티브에 타이포그래피 토큰 적용
  packages/dds-desktop/public/assets/fonts/Pretendard-Bold.subset.woff2
  packages/dds-desktop/public/assets/fonts/Pretendard-Medium.subset.woff2
  packages/dds-desktop/public/assets/fonts/Pretendard-Regular.subset.woff2
  packages/dds-desktop/src/primitives/txt/Txt.tsx
  packages/dds-desktop/src/primitives/txt/index.tsx
  packages/dds-desktop/src/primitives/txt/styles.css.ts
  packages/dds-desktop/src/primitives/txt/types.ts
Due: lint, format, type-check

chore(desktop): Storybook Vite 빌더 및 Vitest 연동 설정
  .yarn/install-state.gz
  packages/dds-desktop/.storybook/main.ts
  packages/dds-desktop/package.json
  packages/dds-desktop/vitest.config.ts
  yarn.lock
Due: lint, format, type-check

docs(desktop): Txt 스토리북 예제를 간결하게 정리
  packages/dds-desktop/src/primitives/txt/Txt.stories.tsx
Due: lint, format, type-check

Path conditions:
  lint: any of: *.{js,ts,tsx,jsx}
  format: any of: *.{js,ts,tsx,jsx,json,md}
  type-check: any of: *.{ts,tsx}
