Repository DNDACADEMY/dnd-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, type-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx,jsx}"
      run: yarn lint
    format:
      glob: "*.{js,ts,tsx,jsx,json,md}"
      run: yarn format
    type-check:
      glob: "*.{ts,tsx}"
      run: yarn check-types

pre-push:
  parallel: true
  commands:
    lint:
      run: yarn lint
    format:
      run: yarn format
    type-check:
      run: yarn check-types
    build:
      run: yarn build

docs: skill 추가 관련 문서 업데이트
  .claude/skills/dds-component/SKILL.md
  packages/dds-desktop/CLAUDE.md
Due: format

fix(desktop): Storybook Vitest 초기화 타이밍 문제 해결
  packages/dds-desktop/vite.config.ts
Due: lint, format, type-check

refactor: chip polymorphic 지원 추가
  packages/dds-desktop/src/primitives/chip/Chip.spec.stories.tsx
  packages/dds-desktop/src/primitives/chip/Chip.tsx
Due: lint, format, type-check

refactor: label 불필요한 태그 중첩 제거
  packages/dds-desktop/src/primitives/fieldbox/compound/Label.tsx
Due: lint, format, type-check

fix: fieldBox readonly pointerEventNone 스타일 제거
  packages/dds-desktop/src/primitives/fieldbox/styles.css.ts
Due: lint, format, type-check

refactor: textfield내 required, disabled 전달 추가
  packages/dds-desktop/src/primitives/textfield/Textfield.spec.stories.tsx
  packages/dds-desktop/src/primitives/textfield/Textfield.tsx
Due: lint, format, type-check

test: button spec 스토리북 추가
  packages/dds-desktop/src/primitives/button/Button.spec.stories.tsx
Due: lint, format, type-check

chore(claude): a11y-spec-writer WCAG 주석 규칙 추가
  .claude/skills/a11y-spec-writer/SKILL.md
Due: format

chore: Claude 로컬 설정 파일 gitignore 추가
  .gitignore
Due: none

ci(desktop): spec.stories.tsx 변경 시 Storybook 테스트 워크플로우 추가
  .github/workflows/storybook-test.yml
Due: none

chore(claude): dds-desktop용 Claude 스킬 및 접근성 스펙 추가 (#56)
  .claude/skills/a11y-spec-writer/SKILL.md
  .claude/skills/a11y-spec-writer/references/rules/aria-describedby.md
  .claude/skills/a11y-spec-writer/references/rules/aria-expanded.md
  .claude/skills/a11y-spec-writer/references/rules/aria-invalid.md
  .claude/skills/a11y-spec-writer/references/rules/aria-label.md
  .claude/skills/a11y-spec-writer/references/rules/aria-live.md
  .claude/skills/a11y-spec-writer/references/rules/aria-required.md
  .claude/skills/a11y-spec-writer/references/rules/form-error.md
  .claude/skills/a11y-spec-writer/references/rules/form-fieldset.md
  .claude/skills/a11y-spec-writer/references/rules/form-label.md
  .claude/skills/a11y-spec-writer/references/rules/interactive-button-link.md
  .claude/skills/a11y-spec-writer/references/rules/interactive-dialog.md
  .claude/skills/a11y-spec-writer/references/rules/interactive-disclosure.md
  .claude/skills/a11y-spec-writer/references/rules/interactive-tabs.md
  .claude/skills/a11y-spec-writer/references/rules/interactive-tooltip.md
  .claude/skills/a11y-spec-writer/references/rules/keyboard-escape.md
  .claude/skills/a11y-spec-writer/references/rules/keyboard-focus-trap.md
  .claude/skills/a11y-spec-writer/references/rules/keyboard-focus-visible.md
  .claude/skills/a11y-spec-writer/references/rules/keyboard-roving-tabindex.md
  .claude/skills/a11y-spec-writer/references/rules/keyboard-tab-order.md
  .claude/skills/a11y-spec-writer/references/rules/sr-heading.md
  .claude/skills/a11y-spec-writer/references/rules/sr-image-alt.md
  .claude/skills/a11y-spec-writer/references/rules/sr-link-text.md
  .claude/skills/a11y-spec-writer/references/rules/sr-only.md
  .claude/skills/a11y-spec-writer/references/rules/visual-color-contrast.md
  .claude/skills/a11y-spec-writer/references/rules/visual-motion.md
  .claude/skills/a11y-spec-writer/references/rules/visual-not-color-only.md
  .claude/skills/a11y-spec-writer/references/wcag-patterns.md
  .claude/skills/dds-component/SKILL.md
  .github/workflows/storybook-test.yml
  .gitignore
  packages/dds-desktop/CLAUDE.md
  packages/dds-desktop/src/primitives/button/Button.spec.stories.tsx
  packages/dds-desktop/src/primitives/chip/Chip.spec.stories.tsx
  packages/dds-desktop/src/primitives/chip/Chip.tsx
  packages/dds-desktop/src/primitives/fieldbox/compound/Label.tsx
  packages/dds-desktop/src/primitives/fieldbox/styles.css.ts
  packages/dds-desktop/src/primitives/textfield/Textfield.spec.stories.tsx
  packages/dds-desktop/src/primitives/textfield/Textfield.tsx
  packages/dds-desktop/vite.config.ts
Due: lint, format, type-check

docs: CLAUDE.md를 패키지별로 분리
  CLAUDE.md
  packages/dds-token/CLAUDE.md
  services/admin-web/CLAUDE.md
  services/passboard/CLAUDE.md
Due: format

chore: pr-review 훅 인라인 코멘트 방식으로 개선
  .claude/hooks/pr-review.js
  .claude/settings.json
Due: lint, format

chore: pr-review 봇 계정 지원 추가
  .claude/hooks/pr-review.js
  .env.sample
Due: lint, format

fix: env 파일 제거
  .env.sample
Due: none

docs: CLAUDE.md를 패키지별로 분리 (#57)
  .claude/hooks/pr-review.js
  .claude/settings.json
  .env.sample
  CLAUDE.md
  packages/dds-token/CLAUDE.md
  services/admin-web/CLAUDE.md
  services/passboard/CLAUDE.md
Due: lint, format

chore: pr ai-review 추가
  .claude/commands/pr-with-review.md
  .claude/hooks/pr-review.js
Due: lint, format

feat: pr-review 커맨드 분리 추가
  .claude/commands/README.md
  .claude/commands/commit-msg.md
  .claude/commands/pr-analyze.md
  .claude/commands/pr-draft.md
  .claude/commands/pr-title.md
  .claude/hooks/pr-review.js
Due: lint, format

style:format
  .claude/commands/README.md
Due: format

chore:install-state 파일이 포함되도록 수정해요
  .gitignore
  .yarn/install-state.gz
Due: none

chore(claude): ai review 커맨드 분리, 필요할 때 호출될 수 있도록 수정 (#58)
  .claude/commands/README.md
  .claude/commands/commit-msg.md
  .claude/commands/pr-analyze.md
  .claude/commands/pr-draft.md
  .claude/commands/pr-title.md
  .claude/commands/pr-with-review.md
  .claude/hooks/pr-review.js
Due: lint, format

chore:install-state 파일이 포함되도록 수정해요 (#59)
  .gitignore
  .yarn/install-state.gz
Due: none

fix(ci): Playwright 브라우저 바이너리 설치 단계 추가
  .github/workflows/storybook-test.yml
Due: none

fix(ci): Playwright 브라우저 바이너리 설치 단계 추가 (#60)
  .github/workflows/storybook-test.yml
Due: none

fix(root): lefthook glob 패턴을 수정해 서브디렉토리 파일도 훅이 실행되도록 수정
  lefthook.yml
Due: none

fix(root): lefthook glob 패턴을 수정해 서브디렉토리 파일도 훅이 실행되도록 수정 (#61)
  lefthook.yml
Due: none

feat(dds-desktop): desktop.css export 추가 및 Textfield ref 지원
  packages/dds-desktop/package.json
  packages/dds-desktop/src/primitives/textfield/Textfield.tsx
Due: lint, format, type-check

chore: .worktrees/ gitignore 추가
  .gitignore
Due: none

feat(dds-desktop): desktop.css export 추가 및 Textfield ref 지원 (#62)
  packages/dds-desktop/package.json
  packages/dds-desktop/src/primitives/textfield/Textfield.tsx
Due: lint, format, type-check

chore: .worktrees/ gitignore 추가 (#63)
  .gitignore
Due: none

fix: Button props 타입을 ComponentPropsWithRef로 변경
  packages/dds-desktop/src/primitives/button/Button.tsx
Due: lint, format, type-check

fix: Button props 타입을 ComponentPropsWithRef로 변경 (#64)
  packages/dds-desktop/src/primitives/button/Button.tsx
Due: lint, format, type-check

feat: bottomText error color add
  packages/dds-desktop/src/primitives/fieldbox/compound/BottomTxt.tsx
  packages/dds-desktop/src/primitives/fieldbox/styles.css.ts
Due: lint, format, type-check

feat: custom useId 추가
  packages/dds-desktop/src/hooks/useId.ts
Due: lint, format, type-check

feat: textField의 경우 id가 Label에 자동으로 연결되도록 추가해요.
  packages/dds-desktop/src/primitives/textfield/Textfield.tsx
  packages/dds-desktop/src/primitives/textfield/compound/Label.tsx
  packages/dds-desktop/src/primitives/textfield/context.tsx
Due: lint, format, type-check

feat(desktop): TextField Label id 자동 연결 및 BottomText 에러 색상 추가 (#65)
  packages/dds-desktop/src/hooks/useId.ts
  packages/dds-desktop/src/primitives/fieldbox/compound/BottomTxt.tsx
  packages/dds-desktop/src/primitives/fieldbox/styles.css.ts
  packages/dds-desktop/src/primitives/textfield/Textfield.tsx
  packages/dds-desktop/src/primitives/textfield/compound/Label.tsx
  packages/dds-desktop/src/primitives/textfield/context.tsx
Due: lint, format, type-check

feat: 추가된 컴포넌트 배럴 파일 추가.
  packages/dds-desktop/src/primitives/textfield/compound/index.tsx
Due: lint, format, type-check

feat: type export 추가
  packages/dds-desktop/src/primitives/textfield/index.tsx
Due: lint, format, type-check

feat: bottomText내 aria-describedby 추가
  packages/dds-desktop/src/primitives/textfield/Textfield.tsx
  packages/dds-desktop/src/primitives/textfield/compound/BottomText.tsx
Due: lint, format, type-check

docs: 타입 정의 수정
  packages/dds-desktop/src/primitives/textfield/Textfield.tsx
Due: lint, format, type-check
